<p style="color: green"><%= notice %></p>

<h5>Logged as <%= @current_user.name %></h5>

<% content_for :title, "Channels" %>

<h4>Channels</h4>

<%= link_to "New channel", new_channel_path %>

<div id="channels">
  <% @channels.each do |channel| %>
    <p>
      <%= link_to channel.name, channel %>
    <p>
  <% end %>
</div>
