<div>
  <%= form_with(model: [@channel ,@message], remote: true) do |f| %>
    <%= f.text_field :content, id: 'chat-text', autocomplete: 'off' %>
    <%= f.submit data: { disable_with: false } %>
  <% end %>
</div>
